.privacy-notice {
  font-weight: 300;
  font-size: modular-scale(-2);
}

#thankyou {
  display: none;
}

#pay {
  display: none;
}

#continue {
  display: block;
  width: 100%;
}


.is-hidden {
  display: none;
}
