label[for="nav-trigger"] {
  display: none;
  float: right;
  width: $base-spacing;
  height: $base-spacing;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 0;
}

.site-nav {
  line-height: $base-line-height;
  margin-right: auto;
  @media screen and (min-width: $medium-screen) {
    margin-left: auto;
    margin-right: 0;
    margin-right: 2 * $base-spacing;
  }

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    font-weight: 600;
    color: $base-font-color;
    line-height: $base-line-height;
    transition: color 3 * $base-duration;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $base-spacing;
    }

    &:hover {
      color: $orange;
    }

    &.button {
      line-height: 1;
      color: white;
    }
  }

  @media screen and (max-width: $medium-screen) {
    label[for="nav-trigger"] {
      display: block;
    }
    .menu-icon {
      position: relative;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      width: $base-spacing;
      height: $base-spacing;
      line-height: 0;
      text-align: center;
      > svg path {
        fill: $base-font-color;
        transition: fill $base-duration;
      }
      &:hover > svg path {
        fill: $base-font-color;
      }
    }

    input ~ .trigger {
      position: fixed;
      transform: translateX(100%);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $base-font-color;
      transition: transform $base-duration;
    }

    input:checked {
      ~ .trigger {
        z-index: 99;
        transform: translateX(0);
        opacity: 1;
        .page-link {
          opacity: 1;
          transform: translateY(0);
        }
      }
      ~ label[for="nav-trigger"] svg path {
          fill: white;
        }
      }


    .page-link {
      display: block;
      opacity: 0;
      transform: translateY($small-spacing);
      color: white;
      text-align: center;
      &:not(:last-child) {
        margin-right: 0;
      }
      font-size: modular-scale(2);
      transition: opacity cubic-bezier(0.32, 0.55, 0.42, 0.8) 5 * $base-duration, transform cubic-bezier(0.32, 0.55, 0.42, 0.8) 5 * $base-duration;
      line-height: 2 * $base-spacing;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: #{$i * $base-duration};
        }
      }

    }
  }
}
