@include font-face("TideSansYS", "/assets/fonts/TideSans-300LilKahuna", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 300;
}

@include font-face("TideSansYS", "/assets/fonts/TideSans-500Dudette", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 400;
}

@include font-face("TideSansYS", "/assets/fonts/TideSans-600Bunny", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 600;
}

@include font-face("TideSansYS", "/assets/fonts/TideSans-800Kahuna", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 700;
}
