<div class="container container--home-about">
  <h2 class="section-heading">{{ include.title | default: 'About us' }}</h2>
    <div class="home-about--wrapper">
      <div class="home-about--item">
        {{ "/_resources/images/icons/pound.svg" | svgContents }}

        <div class="home-about--item--text">
          <h3 class="home-about--item--header">Permanently affordable</h3>
          <p class="home-about--item-description">The lack of affordable housing in York needs to be tackled urgently. Our new model will create permanently affordable homes which form an essential part of the solution.</p>
        </div>
      </div>
      <div class="home-about--item">
        {{ "/_resources/images/icons/sun.svg" | svgContents }}
        <div class="home-about--item--text">
          <h3 class="home-about--item--header">Sustainability built in</h3>
          <p class="home-about--item-description">We’re building high-performance homes designed on passive solar principles and highly insulated, reducing the power they consume and making them cheaper to run.</p>
        </div>
      </div>
      <div class="home-about--item">
        {{ "/_resources/images/icons/house.svg" | svgContents }}
        <div class="home-about--item--text">
          <h3 class="home-about--item--header">Homes that are sustainably built</h3>
          <p class="home-about--item-description">We’re committed to using natural & low carbon building materials, helping to pioneer the shift towards a full decarbonisation of homes and communities.</p>
        </div>
      </div>
      <div class="home-about--item">
        {{ "/_resources/images/icons/person.svg" | svgContents }}
        <div class="home-about--item--text">
          <h3 class="home-about--item--header">Built around the needs of people</h3>
          <p class="home-about--item-description">By embedding fairness and cooperation in all our decision making, we’re creating homes that put community inclusion and cohesion at the heart of their design. </p>
        </div>
      </div>
    </div>
</div>
