<div class="container container--home-clt">
  <h2 class="sr-only">We are York’s community land trust</h2>
  <div class="home-clt--wrapper">
    <div class="home-clt--intro">
      <h3 class="home-clt--intro--header">We are York’s community land trust</h3>
      <div class="home-clt--intro-description">
        <p>As a Community Land Trust, we’re a non-profit organisation that owns and develops land for the benefit of the community.</p>
        <p>That benefit can come in lots of different ways – from providing affordable homes, to protecting green spaces, to building community services and more.</p>
        <p>YorSpace has a track record of generating revenue and accessing grant funding, which when combined with our sector knowledge, will make community led projects come to life.</p>
        <p>We are proud to be a member and part of the wider CLT network, which is made up of over 175 organisations across the UK.</p>      

         <button class="page-header--button button button__ghost trailer-button" data-iframe="7GvdjlrPtDk">Learn more about the CLT Network</button>  
          <div class="single-listing--trailer">
            <div class="single-listing--trailer--iframe"></div>
            <button class="close-trailer-button">Close trailer</button>
          </div>
      </div>
    </div>
    <div class="home-clt--plans">
    
      <div>Custodian of land &amp; buildings for community benefit</div>
      <div>Research, advocacy &amp; campaigning</div>
      <div>Enabling &amp; supporting community groups</div>
      <div>Volunteering &amp; people development</div>
      <div>Consultancy &amp; project management</div>
      <div>Fostering long term partnership with key stakeholders</div>
    
    </div>
  </div>
</div>
