<div class="container container--home-clt">
  <h2 class="sr-only">We are York’s community land trust</h2>
  <div class="home-clt--wrapper">
    <div class="home-clt--intro">
      <h3 class="home-clt--intro--header">We are York’s community land trust</h3>
      <div class="home-clt--intro-description">
        <p>As a community land trust, we’re a non-profit organisation that owns and develops land for the benefit of the community.</p>
      <p>That benefit can come in lots of different ways – from affordable homes, to community gardens, to civic amenities and more. And we help make those things happen in lots of different ways.</p>      
      </div>
    </div>
    <div class="home-clt--plans">
    
      <div>Revenue growth &amp; fundraising</div>
      <div>Volunteering &amp; people development</div>
      <div>Research</div>
      <div>Consultancy &amp; project management</div>
      <div>Enabling &amp; facilitation of wider activity</div>
      <div>Advocacy, campaigning &amp; activism</div>
      <div>Holding land for community benefit</div>
      <div>Holder of long term sector relations</div>

    </div>
  </div>
</div>
