<div class="container container--home-plans">
  <h2 class="sr-only">Our plans for Lowfield Green</h2>
  <div class="home-plans--wrapper">
    <div class="home-plans--intro">
      <h3 class="home-plans--intro--header">We raised over £420,000 through our first Community Share Issue, a huge step towards bringing our first forever affordable homes to York.</h3>
      <div class="home-plans--intro-description">
        <p>Our first site at Lowfield Green will pioneer an innovative mutual home ownership model that will provide residents with secure equity while guaranteeing permanent affordability.</p>
        <p>We already have planning approval for nineteen homes and a common house on the site, with our contractor team ready to start building in summer 2020.</p>
      </div>
    </div>
    <div class="home-plans--plan">
      {{ "/_resources/images/icons/save.svg" | svgContents }}

      <div class="home-plans--plan--text">
        <h3 class="home-plans--plan--header">Donate to<br> fairer housing</h3>
        <div class="home-plans--plan-description">
          <p>Build on our £420,000 Community Share raise to help fund future community-led developments across York. Your support will help us:</p>
          <ul>
            <li>Bring forward development of new sites for affordable homes</li>
          	<li>Build on our growing relationships with new and existing members</li>
          	<li>Spread the word about available homes at Lowfield Green</li>
          </ul>
        </div>
        <a href="/donate/" class="button">Donate now</a>
      </div>
    </div>
    <div class="home-plans--plan">
      {{ "/_resources/images/icons/live.svg" | svgContents }}
      <div class="home-plans--plan--text">
        <h3 class="home-plans--plan--header">Live in<br> fairer housing</h3>
        <div class="home-plans--plan-description">
          <p>As a resident you’ll join an active and supportive community with access to shared facilities as well as your own private home for life.</p>
          <ul>
            <li>Sustainably built</li>
            <li>Priced below market rates</li>
            <li>Houses & flats available</li>
          </ul>
        </div>
        <a href="/live/" class="button">Live at Lowfield Green</a>
        </div>
      </div>
    </div>
  </div>
</div>
