<div class="container container--home-plans">
  <h2 class="sr-only">Our plans for Lowfield Green</h2>
  <div class="home-plans--wrapper">
    <div class="home-plans--intro">
      <h3 class="home-plans--intro--header">We have planning approval for nineteen new houses at the Lowfield Green site in York.</h3>
      <div class="home-plans--intro-description">
        <p>Site plans have been developed to meet the needs of residents, including features like shared outdoor space and insulation to the highest standard making the houses affordable and efficient to heat.</p>
        <p>An innovative mutual home ownership model will provide residents with secure equity while guaranteeing the houses stay permanently affordable.</p>
      </div>
    </div>
    <div class="home-plans--plan">
      {{ "/_resources/images/icons/save.svg" | svgContents }}

      <div class="home-plans--plan--text">
        <h3 class="home-plans--plan--header">Invest in<br> fairer housing</h3>
        <div class="home-plans--plan-description">
          <p>Our £500,000 community share offer will support development while providing an ethical investment opportunity.</p>
          <ul>
            <li>Competitive return of 2.5%</li>
            <li>Withdraw after 3 years</li>
            <li>Offer launching this summer</li>
          </ul>
        </div>
        <a href="/invest/" class="button">Invest in Lowfield Green</a>
      </div>
    </div>
    <div class="home-plans--plan">
      {{ "/_resources/images/icons/live.svg" | svgContents }}
      <div class="home-plans--plan--text">
        <h3 class="home-plans--plan--header">Live in<br> fairer housing</h3>
        <div class="home-plans--plan-description">
          <p>As a resident you’ll join an active and supportive community with access to shared facilities as well as your own private home for life.</p>
          <ul>
            <li>Sustainably built</li>
            <li>Priced below market rates</li>
            <li>Houses & flats available</li>
          </ul>
        </div>
        <a href="/live/" class="button">Live at Lowfield Green</a>
        </div>
      </div>
    </div>
  </div>
</div>
