.totaliser-total {
  font-size: modular-scale(6);
  line-height: $heading-line-height;
  color: $orange;
  font-weight: 700;
}

.totaliser-heading {
  font-size: modular-scale(4);
  line-height: 1;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  color: $orange;
  font-weight: 700;
}

.totaliser-description {
  font-weight: 600;
  margin-bottom: $base-spacing;
}
