.live-house-icon {
  margin-top: (-3 * $base-spacing);
  width: 6 * $base-spacing;
  height: auto;
  margin-bottom: $base-spacing/2;
}

.section--about-rows .section-row:first-child {
  background-color: $turquoise;
  padding-top: 2 * $base-spacing;
  padding-bottom: 2 * $base-spacing;
  a {
    color: white;
  }
}

.section--about-life {
  margin-top: 4 * $base-spacing;
  margin-bottom: 2 * $base-spacing;
  .container {
    @media screen and (min-width: $large-screen) {
      display: flex;
      flex-direction: row;
    }
  }
}

.about-life--left {
  flex: 0 1 50%;
  @media screen and (min-width: $large-screen) {
    margin-right: 1.5 * $base-spacing;
  }
}

.about-life--right {
  flex: 0 1 50%;
  position: relative;

  .slider {
    margin-top: $base-spacing;
    padding-top: 56.25%;
    @media screen and (min-width: $large-screen) {
      padding-top: 100%;
      margin-top: 0;
    }
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .slider-credit {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparentize(white, .25);
    padding: .5em 1em;
    text-align: center;
    font-size: modular-scale(-1);
  }
}


.about-life--text {
  margin-top: auto;
  margin-bottom: auto;
}

.about-life--boxes {
  @media screen and (min-width: $medium-screen) {
    display: flex;
    flex-direction: row;
  }
}

.about-life--box {
  background-color: #fff;
  border: $base-border;
  padding: $base-spacing $small-spacing;
  flex: 1 0 25%;
  margin: $base-spacing 0;
  @media screen and (min-width: $medium-screen) {
    // margin-top: -2 * $base-spacing;
    margin-bottom: 0;
    margin-right: 0;
    + .about-life--box {
      margin-left:  $base-spacing;
    }
  }

  h3 {
    @media screen and (min-width: $medium-screen) {
      text-align: center;
    }
    margin-bottom: $base-spacing;
  }
  li {
    margin-top: $small-spacing;
    font-size: modular-scale(-1);
    margin-left: 1.25 * $base-spacing;
  }
  li::before {
    float: left;
    margin-left: -1.25 * $base-spacing;
    margin-right: $small-spacing/2;
    clear: both;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    position: relative;
    width: $base-spacing;
    height: $base-spacing;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMy40IiBoZWlnaHQ9IjIwLjUiIHZpZXdCb3g9IjAgMCAyMy40IDIwLjUiPgogIDxjaXJjbGUgb3BhY2l0eT0iLjkiIGZpbGw9IiNDQUY5RjgiIGN4PSIxMC4yIiBjeT0iMTAuMyIgcj0iMTAuMiIvPgogIDxwYXRoIGZpbGw9IiM4M0Q2QzEiIGQ9Ik0xMC4xIDE1LjhjLS41IDAtMS0uMi0xLjQtLjZsLTQuNS00LjVjLS44LS44LS44LTIgMC0yLjhzMi0uOCAyLjggMGwzIDMgMTAtOS44Yy44LS44IDItLjggMi44IDBzLjggMiAwIDIuOEwxMS41IDE1LjNjLS40LjQtLjkuNS0xLjQuNXoiLz4KPC9zdmc+Cg==')
  }
}
