---
layout: default
---
<header class="page-header page-header__home">
  <div class="container">
    <h1 class="page-title page-title__home">{{ title | renderUsingMarkdown}}</h1>
    <div class="page-subtitle page-subtitle__home">{{ subtitle | escape | newline_to_br }}</div>
    <button class="page-header--button button button__ghost trailer-button" data-iframe="vqJ1VtEm1Co">Watch our video</button>
    {{ "/_resources/images/hero.svg" | svgContents }}
  </div>
  <div class="single-listing--trailer">
    <div class="single-listing--trailer--iframe"></div>
    <button class="close-trailer-button">Close trailer</button>
  </div>
</header>

<section class="section section--home-plans">
  {% include components/home-clt.html %}
</section>

<section class="section section--home-image">
  {% include components/home-image.html, title: "We’re bringing affordable homes to York", image: "/assets/images/james_onsite_l.jpg" %}
</section>

<section class="section section--home-about">
  {% include components/home-about.html, title: "How YorSpace will make a difference." %}
</section>

<section class="section section--home-blog">
  {% include components/home-blog.html, title: "Latest news and updates." %}
</section>

<section class="section section--home-image">
  {% include components/home-image.html, title: "We’re creating homes that meet the needs of people", image: "/assets/images/table-planning_l.jpg" %}
</section>


<section class="section section--faqs">
  {% include components/faqs.html, title:"Frequently asked questions", location: "home" %}
</section>
