---
layout: default
---
<header class="page-header page-header__section">
  <div class="container">
    <div class="header--left">
      <h1 class="section-title">{{ title | escape | markdownify }}</h1>
      <div class="section-subtitle">
        {{ subtitle | escape | markdownify }}
      </div>
    </div>
    <div class="header--right">
      <!-- <div class="totaliser-total">£30k</div>
      <p class="totaliser-description">Invested so far towards our target of £475,000</p>
      <a href="#" class="button section-header-button">Invest now</a>
      <small>offer closes in 60 days</small> -->
      <div class="totaliser-heading">Coming soon</div>
      <p class="totaliser-description">Our share offer will go live this summer.<br> <a target="_blank" href="https://yorspace.us16.list-manage.com/subscribe?u=87de39e1c0b0e9d7ec221831c&id=6979cefe92">Join our investor list</a> to be notified when it launches.</p>
    </div>
  </div>
</header>

<section class="section-rows">
  <div class="section-row">
    <div class="container">
      <div class="section-row--text">
        <h2 class="section-heading">How the share offer will work</h2>
        <p>The money we’re raising will fund our first nineteen permanently affordable new homes at Lowfield Green. Pioneering a new model of home ownership, they’ll enable community-focused living while providing an income stream to fund further new developments.</p>
        <p>For a copy of our Society’s Rules, Share Offer Document, Business Plan and Accounts, please contact us at <a href="mailto:hello@yorspace.org">hello@yorspace.org</a></p>
        <!-- <p>For more information, read our <a href="#">business plan</a> or <a href="#">share offer document</a>.</p> -->
      </div>
      <div class="section-row--image">
        <img src="/assets/images/invest-1.jpg" />
      </div>
    </div>
  </div>
  <div class="section-row">
    <div class="container">
      <div class="section-row--text">
        <h2 class="section-heading">Key information</h2>
        <ul>
          <li>Competitive 2.5% return</li>
          <li>Withdraw after three years</li>
          <li>Minimum investment amount £250</li>
        </ul>
        <h2 class="section-heading">Timeline</h2>
        <ol>
          <li><strong>March 2019</strong> - planning approved</li>
          <li><strong>May 2019</strong> - applications for residents open</li>
          <li><strong>September 2019</strong> - share offer launch</li>
          <li><strong>November 2019</strong> – share offer ends, build begins</li>
          <li><strong>Winter 2020</strong> – completion & move in</li>
        </ol>
      </div>
      <div class="section-row--image">
        <img src="/assets/images/invest-2.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="section section--faqs">
  {% include components/faqs.html, title: "Frequently asked questions", location: "invest" %}
</section>
