---
layout: default
---

<header class="page-header page-header__section">
  <div class="container">
    <div class="header--left">
      <h1 class="section-title">{{ title | escape | markdownify }}</h1>
      <div class="section-subtitle">
        <p>{{ subtitle | escape | markdownify }}</p>
      </div>
    </div>
    <div class="header--right">
      {{ "/_resources/images/icons/house-color.svg" | svgContents }}

      <h3>Express your interest</h3>
      <p class="totaliser-description">
        Becoming a YorSpace member costs £2 and allows you to join our housing
        interest register
      </p>
      <a href="/join/" class="button section-header-button">Join us</a>
    </div>
  </div>
</header>

<section class="section section--about-life">
  <div class="section-row">
    <div class="container">
      <div class="about-life--left">
        <div class="about-life--text">
          <h2 class="section-heading">Life at Lowfield Green</h2>
          <p>
            Lowfield Green aims to create a strong community of people
            interested in finding a solution to the problems of traditional
            housing models.
          </p>
        </div>
        <div class="about-life--boxes">
          <div class="about-life--box">
            <h3>Communal features of Lowfield Green</h3>
            <ul>
              <li>Communal outdoor space and gardens</li>
              <li>Plenty of secure cycle parking</li>
              <li>Common house for resident shared meals and activities</li>
              <li>Car, workshop, shed and tool share</li>
            </ul>
          </div>
          <div class="about-life--box">
            <h3>Who's Lowfield Green for?</h3>
            <ul>
              <li>
                People interested in new ways of living that create strong
                communities
              </li>
              <li>York connection, especially Y024</li>
              <li>
                First time buyers, people in need of a larger home or those
                looking to downsize
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="about-life--right">
        <div class="slider">
          <img src="/assets/images/plans_1.jpg" />
          <img src="/assets/images/plans_2.jpg" />
          <img src="/assets/images/plans_3.jpg" />
          <img src="/assets/images/plans_4.jpg" />
        </div>
        <span class="slider-credit"
          >Images by
          <a href="http://www.movizuals.co.uk/" target="_blank">Movizuals</a>
          visualisation studio.
          <a href="/uploads/visuals.zip" target="_blank"
            >Download images</a
          ></span
        >
      </div>
    </div>
  </div>
</section>

<section class="section-rows section--about-rows">
  <div class="section-row">
    <div class="container">
      <div class="section-row--text">
        <h2 class="section-heading">
          Housing with sustainability & affordability at its heart
        </h2>
        <p>
          Our houses are built along
          <a
            href="https://www.bioregional.com/one-planet-living"
            target="_blank"
            >One Planet Living</a
          >
          principles, meaning that while they’ll meet the needs of the people
          who live there, they also use resources in a way that our planet can
          sustain.
        </p>
        <p>
          And unlike most houses, the homes we’re creating won’t ever be sold on
          the open market for quick profit. Residents will be shareholding
          members of the cooperative that owns the houses, paying a deposit and
          monthly contributions to give them security and equity.
        </p>
      </div>
      <div class="section-row--image">
        <img src="/assets/images/live-1.jpg" />
      </div>
    </div>
  </div>

  <div class="section-row">
    <div class="container">
      <p>
        For more information about living at Lowfield Green,
        <a href="/contact">please get in touch</a>
      </p>
    </div>
  </div>

  <!--
  <div class="section-row">
    <div class="container">
      <div class="section-row--text">
        <h2 class="section-heading">Comparing costs</h2>
        <p>
          House prices for Lowfield Green are significantly reduced compared to
          similar-sized properties sold on the open market, resulting in a
          substantial increase in affordability.
        </p>
        <table>
          <tr>
            <th></th>
            <th>Market value</th>
            <th>YorSpace equity value</th>
          </tr>
          <tr>
            <td>1 bed flat</td>
            <td>£135,000</td>
            <td>£102,090</td>
          </tr>
          <tr>
            <td>2 bed flat</td>
            <td>£160,000</td>
            <td>£125,240</td>
          </tr>
          <tr>
            <td>2 bed house</td>
            <td>£200,000</td>
            <td>£142,080</td>
          </tr>
          <tr>
            <td>3 bed house</td>
            <td>£250,000</td>
            <td>£159,970</td>
          </tr>
          <tr>
            <td>4 bed house</td>
            <td>£300,000</td>
            <td>£228,380</td>
          </tr>
        </table>

        <small
          >See a full breakdown in our
          <a class="modal-trigger" href="#costcomparison"
            >cost comparison table</a
          >.
          <div class="modal" id="costcomparison">
            <h3>Costs to residents</h3>
            <table>
              <tr>
                <th></th>
                <th>Typical monthly mortgage</th>
                <th>YorSpace monthly payment</th>
                <th>Average market value</th>
                <th>YorSpace total price</th>
              </tr>
              <tr>
                <td>1 bed flat</td>
                <td>£642</td>
                <td>£516</td>
                <td>£135,000</td>
                <td>£102,090</td>
              </tr>
              <tr>
                <td>2 bed flat</td>
                <td>£760</td>
                <td>£632</td>
                <td>£160,000</td>
                <td>£125,240</td>
              </tr>
              <tr>
                <td>2 bed house</td>
                <td>£950</td>
                <td>£717</td>
                <td>£200,000</td>
                <td>£142,080</td>
              </tr>
              <tr>
                <td>3 bed house</td>
                <td>£1,187</td>
                <td>£808</td>
                <td>£250,000</td>
                <td>£159,970</td>
              </tr>
              <tr>
                <td>4 bed house</td>
                <td>£1,400</td>
                <td>£1,153</td>
                <td>£300,000</td>
                <td>£228,380</td>
              </tr>
            </table>

            <p>All figures provided are estimates and subject to change</p>
            <button type="button" onclick="window.location.hash = ''">
              Close
            </button>
          </div>
        </small>
      </div>

      <div class="section-row--image">
        <img src="/assets/images/live-2.jpg" />
      </div>
    </div>

    <div class="section-row">
      <div class="container">
        <div class="section-row--image slider-container">
          <div class="slider">
            <img src="/assets/images/invest-2.jpg" />
            <img src="/assets/images/invest-3.jpg" />
            <img src="/assets/images/invest-4.jpg" />
            <img src="/assets/images/invest-5.jpg" />
          </div>
          <span class="slider-credit"
            >Plans for the Lowfield Green site.
            <a href="/uploads/plans-pack.pdf" target="_blank"
              >Download these plans</a
            ></span
          >
        </div>
        <div class="section-row--text">
          <h2 class="section-heading">Timeline</h2>
          <ol>
            <li><strong>March 2019</strong> - planning approved</li>
            <li><strong>May 2019</strong> - applications for residents open</li>
            <li><strong>September 2019</strong> - share offer launch</li>
            <li><strong>January 2020</strong> – share offer end</li>
            <li><strong>2022</strong> begin build</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  -->
</section>

<section class="section section--faqs">
  {% include components/faqs.html, title: "Frequently asked questions",
  location: "live"%}
</section>
