---
layout: default
---

<header class="post-header">
  <div class="container">
    <h1 class="post-title">{{ title | escape }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.data.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.data.author }}</span></span>
      {% endif %}
    </div>
  </div>
</header>

{% if image.file and image.show_on_post %}
  <div class="post-image">
    <div class="container">
      <figure class="post-header--image-figure">
        {% include cloudinary.html, img:image.file, class:'post-header--image', width:'1400', height:'788' %}
        {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>
    </div>
  </div>
{% endif %}

<div class="post-content">
  <div class="container">
    {{content | replace: '<iframe', '<div class="video-wrapper"><iframe' | replace: '</iframe>', '</iframe></div>'}}
  </div>
</div>
