---
layout: page
---
<div>
  {% assign posts = collections.posts | sort: post.data.date | reverse %}
  {% for post in posts %}
    <a href="{% if post.data.external_link %}{{ post.data.external_link }}{% else %}{{ post.url }}{% endif %}" class="home-blog--item horizontal" data-aos="fade-up" data-aos-ratio=".25" data-aos-delay="{{ forloop.index | minus: 1 |  times:200 }}">
      <div class="home-blog--item--image">
        {% include cloudinary.html, img: post.data.image.file, width: "500", height: "500" %}
      </div>
      <div class="home-blog--item--text">
        <h3 class="home-blog--item--title">{{ post.data.title }}</h3>
        <div class="home-blog--item--date">{{ post.date | date: site.date_format }}</div>
      </div>
      <span class="home-blog--item--read-more">Read more</span>
    </a>
  {% endfor %}
</div>
