---
layout: page
---
<div>
  {% assign posts = collections.posts | reverse %}
  {% for post in posts %}
    <a href="{% if post.data.external_link %}{{ post.data.external_link }}{% else %}{{ post.url }}{% endif %}" class="home-blog--item horizontal" data-aos="fade-up" data-aos-ratio=".25" data-aos-delay="{{ forloop.index | minus: 1 |  times:200 }}">
      <div class="home-blog--item--image">
       
      </div>
      <div class="home-blog--item--text">
        <div class="home-blog--item--date">{{ post.date | date: site.date_format }}</div>
        <h3 class="home-blog--item--title">{{ post.data.title }}</h3>
        <p class="home-blog--item--excerpt">{{ post.templateContent | strip_html | truncate: 150, '...' }}</p>
        <span class="home-blog--item--read-more">Read more</span>

      </div>
    </a>
  {% endfor %}
</div>
